header{
    background: lightgray;
    width: 100%;
    height: 25%;
}
#logo-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: felx-start;
    width: 100px;
    height: 100px;
}
#link-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}